body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  background-image: url("./images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.intro-header,
.header-selfintro {
  color: #7790ba;
}

.intro-subheader {
  color: #805b76;
}

a {
  color: rgb(69, 128, 74);
  text-decoration: none;
}

.bi {
  background: transparent;
  height: fit-content;
}

hr {
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: rgb(255, 255, 255);
  unicode-bidi: isolate;
  overflow: hidden;
  border: dotted #919d9d 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
small {
  font-size: x-large;
}

.footer-header {
  text-align: center;
}

.referral {
  font-size: 25px;
  border: 3px solid rgb(205, 192, 192);
  border-radius: 10%;
  padding: 7px 7px 7px 7px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.referral:hover {
  color: black;
  border: none;
}

.email,
.linkedin,
.github {
  color: #7790ba;
}

#resume-clicker {
  font-size: 35px;
  padding-top: 30px;
  margin-top: 80px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.profile-pic {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.self-intro {
  justify-content: center;
  text-align: center;
}

span {
  color: rgb(69, 128, 74);
}
