body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  background-image: url("./images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.intro-header {
  color: #7790ba;
}

.intro-subheader {
  color: #805b76;
}

img {
}
.header-selfintro {
  text-align: center;
  color: #7790ba;
  width: 70%;
}

p {
  font-size: 50px;
  color: rgb(143, 146, 146);
}

h3 {
  font-size: 50px;
  color: rgb(143, 146, 146);
}

a {
  color: rgb(69, 128, 74);
  text-decoration: none;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#skills {
  /* background-color: #7790ba; */
}

.bi {
  background: transparent;
  height: fit-content;
}

hr {
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: rgb(255, 255, 255);
  unicode-bidi: isolate;
  overflow: hidden;
  border: dotted #919d9d 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
small {
  font-size: x-large;
}

.footer-header {
  text-align: center;
}

.referral {
  font-size: 25px;
  border: 3px solid rgb(205, 192, 192);
  border-radius: 10%;
  padding: 7px 7px 7px 7px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.referral:hover {
  color: black;
  border: none;
}

.email,
.linkedin,
.github {
  color: #7790ba;
}
